header{
    width: 100%;
    position: fixed;
    background-color: #c0a3e6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    /* display: flex; */
}
.header-part{
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.logo{
    margin-left: 2rem;
    color: #fff;
}
.nav-items{
    list-style-type: none;
    color: #fff;
    display: none;
    gap: 20px;
    margin: 0;
    padding: 0;
    margin-left: 4rem;
    margin-right: 4rem;
    cursor: pointer;
  
}
.list-items{
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    color: #fff;
    text-decoration: none;
}
.list-items-cart{
    margin-left: 2rem;
}

@media screen and (min-width: 457px) {
    .header-part {
      justify-content: space-evenly;
    }
  
    .nav-items {
      display: flex; 
      margin-left: 2rem;
    }
  
    .list-items-cart {
      margin-left: 5rem; 
    }
  }


